<!DOCTYPE html>
<html>
<head>
	<title>Scrape -> Shuffle -> List</title>
	<style type="text/css">
		img{
			display: inline-block;
			max-width: 200px;
			margin: 10px;
		}
	</style>
</head>
<body>
<h1>Scrape -> Shuffle -> List</h1>
<% for(var i=0; i<images.length; i++) { %>
	<img src="<%= images[i] %>">
<% } %>
</body>
</html>